@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  padding-bottom: 40px;
  padding-top: 40px;
  font-family: "Roboto", sans-serif;
  background-color: #24198d;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: white;

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    gap: 80px;

  }

  
  a:link{
    text-decoration: none;
  }
  a:visited{
    color: white;
  }
}

#home {
  margin-right: auto;
  font-size: 24px;
}

#homeimg {
  width: 650px;
  padding-top: 20px;
}

.selectedPage{
  text-decoration: underline;
  text-decoration-color: white;
}

.container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;

}

section {
  text-align: center;
}

h1 {
  padding: 60px 0;
  font-size: 40px;
}

footer {
  
}

/* 

HEADER

*/

